@import url(./cabinet-grotesk.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

html,
body,
.header,
.main {
    width: 100%;
}

.main,
.header {
    background-color: #f0f0f0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    color: #5C5C5C;
    font-size: 1.063rem;
}

a:hover, button:hover {
    cursor: pointer;
}

.section-title {
    font-weight: 900;
    font-size: 3.875rem;
    text-transform: uppercase;
    font-family: 'CabinetGrotesk-Black';
}

.header-container,
.section,
.footer-container {
    max-width: 82%;
}

/* header */

.header {
    display: flex;
    justify-content: center;
}

.header-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0;
}

.header-logo {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Sedgwick Ave Display', cursive;
}

.menu {
    display: flex;
    gap: 3.625rem;
}

.menu__item {
    list-style-type: none;
}

.menu__link {
    text-decoration: none;
    color: #1C1C1C;
    font-weight: 300;
    font-size: 0.875rem;
}

.menu__link_selected {
    font-weight: 600;
}

.login-buttons {
    display: flex;
    align-items: center;
    gap: 2.063rem;
}

.sign-in-link {
    font-size: 0.875rem;
    font-weight: 700;
    color: #1C1C1C;
}

.sign-up-btn {
    font-size: 0.875rem;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #1C1C1C;
    border: none;
    padding: 1rem 1.563rem 1rem 1.625rem;
    width: 6.25rem;
    height: 3rem;
}

/* seaching */

.seaching {
    display: flex;
    justify-content: space-between;
}

.seaching__description {
    margin-top: 10.938rem;
    width: 60%;
    position: relative;
}

.seaching__description-header {
    font-weight: 700;
    font-size: 3.25rem;
    padding-bottom: 1.313rem;
    line-height: 3.51rem;
    font-family: 'CabinetGrotesk-Bold';
}

.seaching__description-header>span {
    font-size: 5.625rem;
    font-weight: 900;
    line-height: 6.075rem;
    font-family: 'CabinetGrotesk-Black';
}

.seaching__description-about {
    line-height: 1.75rem;
    padding-bottom: 2.688rem;
    color: #5C5C5C;
    width: 85%;
}

.seaching__field {
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
    box-shadow: 0rem 0.5rem 1.75rem 0rem;
}

.seaching__info {
    font-weight: 400;
    font-size: 0.875rem;
    padding-top: 1.625rem;
    padding-bottom: 0.375rem;
}

.form {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 28px 0px #0000001F;
    padding: 0.938rem 1.563rem;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 0.875rem;
    font-weight: 400;
    color: #5C5C5C;
    background-color: #ffffff;
    padding-bottom: 0.375rem;
}


input {
    border: none;
    font-weight: 700;
    font-size: 1.25rem;
    width: 10rem;
    background-color: #ffffff;
}

input::placeholder {
    color: #1C1C1C;
}

.form__seach-btn {
    background-color: #1C1C1C;
    border: none;
}

.form__seach-btn>img {
    /* background-color: transparent; */
    padding: 1.438rem 1.5rem;
}

.seaching__images {
    padding-top: 2.125rem;
    width: 40%;
}

/* services */

.services-header {
    text-align: center;
    padding-top: 6.375rem;
    padding-bottom: 2.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-header_services {
    font-weight: 900;
    font-size: 3.875rem;
    padding-bottom: 0.375rem;
    color: #1C1C1C;
}

.services-header_description {
    font-weight: 400;
    width: 65%;
}

.services_group1 {
    display: flex;
    gap: 1.375rem;
    justify-content: center;
    text-align: center;
    padding-bottom: 1.375rem;
}

.services_group2 {
    display: flex;
    gap: 1.375rem;
    justify-content: center;
    text-align: center;
}

.services_image-plumber {
    background-color: #1C1C1C;
    margin-bottom: 2.375rem;
    margin-top: 2.133rem;
}

.services_header-plumber {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 0.688rem;
    background-color: #1C1C1C;
}

.services_description-bg {
    background-color: #1C1C1C;
    color: #FFFFFF;
}

.services_image-painting,
.services_image-logistics,
.services_image-cleaning,
.services_image-furnitures,
.services_image-more_then {
    margin-bottom: 2.375rem;
    margin-top: 2.133rem;
}

.services_header-painting,
.services_header-logistics,
.services_header-cleaning,
.services_header-furnitures,
.services_header-more_then {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 0.688rem;
}

.services_description {
    font-weight: 400;
    font-size: 1rem;
    padding-bottom: 2.375rem;
    text-align: justify;
    text-align-last: center;
}


.services-plumber,
.services-painting,
.services-logistics,
.services-cleaning,
.services-furnitures,
.services-more_then {
    border: 0.063rem #1C1C1C solid;
    padding: 23px 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-plumber {
    background-color: #1C1C1C;
    color: #FFFFFF;
}

.services-painting,
.services-logistics,
.services-cleaning,
.services-furnitures,
.services-more_then {
    color: #5C5C5C;
}

/* about us */

.about-us {
    display: flex;
    align-items: center;
    margin-top: 6.375rem;
}

.about-us__header {
    font-weight: 900;
    font-size: 3.875rem;
    padding-bottom: 1.375rem;
    color: #1C1C1C;
}

.about-us__header-description {
    font-weight: 400;
    padding-bottom: 1.375rem;
    line-height: 1.5;
    width: 71%;
}

.about-us__button {
    border: none;
    background-color: #1C1C1C;
    color: #FFFFFF;
    padding-top: 1.25rem;
    padding-right: 1.375rem;
    padding-bottom: 1.25rem;
    padding-left: 1.375rem;
    font-weight: 300;
    font-size: 0.875rem;
}

.about-us_images {
    padding-top: 1.25rem;
}

/* property */

.property__header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.property__header {
    margin-top: 6.375rem;
    font-weight: 900;
    font-size: 3.875rem;
    text-align: center;
    color: #1C1C1C;
    width: 65%;
}

.property__header-item {
    font-weight: 400;
    padding-bottom: 2.625rem;
    text-align: center;
    width: 65%;
}

.property__booking {
    display: flex;
    gap: 1.375rem;
}

.booking-card__title,
.booking-card__location,
.booking-card__price,
.booking-card__details-container {
    padding-left: 1.438rem;
}

.booking-card {
    border: 1px #1C1C1C solid;
    margin-bottom: 6.375rem;
}

.booking-card__image {
    width: 100%;
}

.booking-card__title {
    font-size: 1.125rem;
    font-weight: 500;
    color: #1E1E1E;
    padding-top: 0.75rem;
    width: 93%;
}

.booking-card__location {
    font-size: 1rem;
    font-weight: 500;
    color: #1E1E1E;
    padding-top: 1.125rem;
}

.booking-card__price {
    font-size: 1rem;
    font-weight: 700;
    color: #1E1E1E;
    padding-top: 1.063rem;
}

.booking-card__details {
    display: flex;
    justify-content: space-between;
    padding-right: 1.438rem;
    font-size: 16px;
    font-weight: 300;
    color: #1E1E1E;
    padding-top: 0.938rem;
}

.booking-card__btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-card__btn {
    background-color: #1C1C1C;
    color: #FFFFFF;
    font-size: 0.875rem;
    font-weight: 300;
    border: none;
    padding: 1.25rem 6.875rem;
    margin-top: 1rem;
    margin-bottom: 0.938rem;
    width: 90%;
}

/* work-process section */

.work-process {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work-process-title,
.work-process-text {
    width: 65%;
    text-align: center;
}

.work-process-text {
    margin-bottom: 2.625rem;
}

.work-process-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.work-process-card {
    width: 45%;
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 4.5rem 5rem;
    border-bottom: 3px solid #E0E0E0;
}

.work-process-card:nth-last-child(-n + 2) {
    border-bottom: none;
}

.work-process-card:nth-child(odd) {
    border-right: 3px solid #E0E0E0;
    ;
}

.work-process-card__title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.5rem;
    text-align: center;
}

.work-process-card__text {
    text-align: center;
}

.main__work-process {
    margin-bottom: 3rem;
}

/* clients section */

.clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clients-text {
    margin-bottom: 2.25rem;
    width: 65%;
    text-align: center;
}

.clients-gallary {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.clients-gallary__side {
    background-color: rgba(28, 28, 28, 0.7);
    width: 15%;
}

.clients-gallary__main {
    display: flex;
}

.clients-gallary__main-photo {
    max-width: 100%;
}

.clients-gallary__main-textbox {
    max-width: 29.75rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem 1.688rem 1.5rem 1.313rem;
    line-height: 1.75rem;
    background-color: #ffffff;
}

.clients-gallary__main-img {
    height: 3.75rem;
    width: 4.625rem;
}

.clients-gallary__main-name {
    font-family: 'CabinetGrotesk-Black';
    font-weight: 900;
    font-size: 1.25rem;
    line-height: 1.563rem;
    text-transform: uppercase;
}

.clients-gallary__main-location {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #5C5C5C;
}


/* PARTNERS */

.section__partners {
    padding: 6.375rem 0 6.375rem 7.75rem;
}

.partners-container {
    display: flex;
}

.partners-header {
    font-size: 3.875rem;
    font-weight: 900;
    margin-top: 3.25rem;
}

.partners-image {
    display: flex;
    gap: 1.5rem;
}

.partners-description {
    line-height: 1.5;
    font-weight: 400;
    width: 82%;
    margin: 1.125rem 0;
}

.partners-founder {
    font-size: 1.625rem;
    font-weight: 900;
}

.partners-founder__type {
    font-size: 0.875rem;
    font-weight: 300;
}

.partners-btn {
    display: flex;
    gap: 0.75rem;
    margin-top: 1.125rem;
    width: 8.25rem;
}

.partners-btn__previous {
    padding: 1.25rem 2.063rem 1.25rem 2rem;
    font-size: 0.875rem;
    font-weight: 300;
    border: #1C1C1C solid 0.063rem;
}

.partners-btn__next {
    font-size: 0.875rem;
    font-weight: 300;
    background-color: #1C1C1C;
    color: #FFFFFF;
    padding: 1.25rem 3rem 1.25rem 3.063rem;
    border: none;
    box-shadow: 0px 5px 10px 0px #0F3C6629;
}

.partners-image {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.partners-image {
    position: relative;
}

.partners-founder_color {
    position: absolute;
    top: 85%;
    left: 21%;
    /* background-color: transparent; */
    color: #FFFFFF;
}

.partners-founder_co-founder {
    margin-top: 0.125rem;
    position: absolute;
    top: 90%;
    left: 29%;
    /* background-color: transparent; */
    color: #FFFFFF;
}

.partners-founder_half {
    position: absolute;
    top: 85%;
    left: 95%;
    /* background-color: transparent; */
    color: #FFFFFF;
}

/* footer */

.footer {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/footer-bg.png');
    filter: grayscale(1);
    background-position: center;
    background-size: cover;
    padding: 4.75rem 0;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 4rem;
    color: #FFFFFF;
}

.footer-text {
    color: #FFFFFF;
    font-weight: 300;
    line-height: 1.375rem;
    font-size: 0.875rem;
}

.header-logo_font-size {
    font-size: 3.5rem;
}

.last-description,
.submenu, .submenu__list {
    display: flex;
    flex-direction: column;
}

.last-description {
    max-width: 34%;
    gap: 1.5rem;
}

.socials {
    display: flex;
    gap: 1.5rem;
}

.fa-brands {
    color: #ffffff;
    font-size: 1.5rem;
}

.submenu {
    gap: 1.75rem;
}

.submenu__list {
    gap: 1.25rem;
}

.submenu__title {
    font-weight: 700;
    font-size: 1.625rem;
}

.submenu__item {
    list-style-type: none;
}

.submenu__link {
    text-decoration: none;
    font-weight: 300;
    font-size: 1.125rem;

}